# Byte-compiled / optimized / DLL files
__pycache__/ 
*.py[co] 

# Distribution / packaging 
.Python
build/ 
develop-eggs/ 
dist/ 
downloads/ 
eggs/ 
.eggs/ 
lib/ 
lib64/ 
parts/ 
sdist/ 
var/ 
wheels/ 
share/python-wheels/ 
*.egg-info/ 
.installed.cfg 
*.exe 
*.msi 
*.rpm 
*.deb 

# PyInstaller 
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to categorize them as data files,
#  please name them as "data_files.txt" when generating them.
data_files.txt 
*.manifest 
*.spec 

# Database
*.db
*.db-wal

# Installer logs 
pip-log.txt 
pip-delete-this-directory.txt 

# Unit test / coverage reports
htmlcov/ 
.tox/ 
.nox/ 
.coverage 
.cache 
nosetests.xml 
coverage.xml 

# Translations 
*.mo 

# Django stuff:
*.log 
local_settings.py 

# Flask stuff:
instance/ 
.webassets-cache 

# Scrapy stuff:
.scrapy 

# Sphinx documentation
docs/_build/ 

# PyBuilder
target/ 

# Jupyter Notebook
.ipynb_checkpoints 

# pyre
.pyre/ 

# mvpy
.mvpy_cache/

# Унификация остаточных директорий
output
saved_scripts/

# Унификация остаточных файлов
main.zip